.Header{
    display:flex;
    justify-content:space-between;
}

#time_countdown{
    margin-right: px;
}

h2{
text-align: center;
}
p{
    text-align:center;
}
body{
     background-color: white; 
     font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#container{
    max-width: 400px;
    margin: 0 auto;
    margin-top: 20vh;
}

.card{
    background-color: white;
}

.hi_score{
    position:absolute;
    top: 15px;
}

button:focus,
button:hover{
    background-color: grey;
}

h1{
    display: center;
}
#start_btn{
    display:flex;
    justify-content: center;
    align-items: center;

}
button{
    margin: 10px;
    cursor: pointer;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color:aqua;
    border-radius: 3px;
    transition: background-color 0.2s;
    padding: 3px 10px;
    border: 0;
} 

